<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>PÁGINA INICIAL</title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="container">
            <% listFilmes.forEach(element => { %>
            <article class="card">
                <div class="card_img">
                    <img src="<%= element.img %> " alt="<%= element.nome %>">
                    <div class="texto">
                        <a class="edtdel" href="/editar/<%= element.id %> " alt="Editar"><i class="fa-solid fa-pencil"></i></a>
                        <a class="edtdel" href="/deletar/<%= element.id %>" alt="Deletar"><i class="fa-solid fa-trash"></i></a>
                        <a class="edtdel" href="/detalhes/<%= element.id %>" alt="Detalhes"><i class="fa-solid fa-circle-info"></i></i></a>
                    </div>
                    <div class="card_name">
                        <p><%= element.nome %></p>
                        <!-- <a id="nomefilme" href="/detalhes/<%= element.id %>"></a> -->
                    </div>
                </div>
            </article>
            <% }) %>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %> 
</body>
</html>